{% extends 'availability/base.html' %}
{% load static %}
{% block content %}

<!--Unable to load the script reference at the end of the page due to templating issues -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
            $(document).ready(function(){
                 $('select#selectedstate').change(function() {
                     var optionSelected = $(this).find("option:selected");
                     var valueSelected  = optionSelected.val();
                     var state_name   = optionSelected.text();

                     $.ajax({
                        url: 'getdistrict/',
                        type: 'GET',
                        data: {'state': state_name},
                        success: function(result){
                            $("#selecteddistrict option").remove();
                            for (var i = result.length - 1; i >= 0; i--) {
                                $("#selecteddistrict").append('<option>'+ result[i] +'</option>');
                            };
                        },
                      });
                 });
            });

            var myVar;
            function fetchdata(){
            var optionSelected = $('select#selecteddistrict').find("option:selected");
            var district_name   = optionSelected.text();
            console.log(district_name)
                $.ajax({
                        url: 'scheduledata/',
                        type: 'GET',
                        data: {'district': district_name},
                        success: function(result){
                        for (var i = result.length - 1; i >= 0; i--) {
                            //document.write('<p>' + result[i] + '</p>');
                            $("#availablebullets").append('<li>' + result[i] + '</li>');
                            //$("#availablebullets").append('<option>'+ result[i] +'</option>');
                            };
                        },
                      });
            }

      $(document).ready(function(){
            $('#alertbutton').click(function() {
                console.log("Button is pressed");
                //document.getElementById('stopbutton').classList.remove('hidden')
                document.getElementById('stopbutton').disabled = false;
                var optionSelected = $('select#selecteddistrict').find("option:selected");
                var valueSelected  = optionSelected.val();
                var district_name   = optionSelected.text();
                console.log(district_name)
                myVar = setInterval(fetchdata,5000);
            });
      });

      function stopFunction(){
            clearInterval(myVar); // stop the setInterval timer
      }

</script>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<!--    <h1 class="display-4">Find My Vaccine</h1>-->
		<img src="{% static 'images/vaccine-image.jpg' %}">
    <p class="lead"><strong>Online Portal to find the availability of Vaccines</strong></p>



<form method="get">
    <!--If Dropdown has more space below than it does above,the dropdowns options either display below or above the actual select-->
    <div class="mb-2 mt-2 dropdown" id="dropdown">
        <label for="selectedstate">Select State</label>
    <select name="selectedstate" id="selectedstate">
        {% for key,value in state_dist_dict.items %}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
    </select>

        <label for="selecteddistrict">Select District</label>
    <select name ="selecteddistrict" id="selecteddistrict">


    </select>
</div>

    <div class="container my-3">
        <div class="col-md-12 text-center">
    {% if batch_list %}
    <input type="submit" class="btn btn-primary" value="Back">
    {% else %}
    <input type="submit" class="btn btn-primary" value="Check for availability">
    <input id="alertbutton" type="button" class="btn btn-primary" value="Alert when available">
    <input id="stopbutton" type="button" class="btn btn-primary"  onclick="stopFunction()" value="Stop Alerts" disabled> <!--One can use hidden class for this with visibility set to hidden-->

    {% endif %}
    </div>
    </div>

</form>
</div>


<ol  id="availablebullets">

</ol>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
{% if batch_list %}
<table>
    <tr>
        <th>Center Location</th>
        <th>Date</th>
        <th>Age Limit</th>
        <th>Capacity</th>
        <th>Vaccine</th>
    </tr>
    {% for batch in batch_list %}
    <tr>
        {% for key, value in batch.items %}
        {% if key == "name" %}
        <td>
            {% for x in value %}
            {{ x }} <br/>
            {% endfor %}
        </td>
        {% else %}
        <td> {{ value }} </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endblock content %}