{% extends 'availability/base.html' %}
{% block content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
<script>
            $(document).ready(function(){
                 $('select#selectedstate').change(function() {
                     var optionSelected = $(this).find("option:selected");
                     var valueSelected  = optionSelected.val();
                     var state_name   = optionSelected.text();


                     data = {'state' : state_name};
                     ajax('getdistrict/', data, function(result){

                            $("#selecteddistrict option").remove();
                            for (var i = result.length - 1; i >= 0; i--) {
                                $("#selecteddistrict").append('<option>'+ result[i] +'</option>');
                            };
                      });
                 });
            });

</script>


<div class="myDiv">
    <h1>Vaccine Availability</h1>
</div>

<h2>Steps to follow to check Vaccine Availability:</h2>

<ul>
  <li>Select the state for which you want to check vaccine availability</li>
  <li>Select the corresponding district</li>
  <li>Press "Check for availability" button</li>
  <li>Press "Back" to search again</li>
</ul>


<form method="get">
        <select name="selectedstate" id="selectedstate">
            {% for key,value in state_dist_dict.items %}
             <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>


        <select name ="selecteddistrict" id="selecteddistrict">


        </select>
        {% if batch_list %}
            <input type="submit" class="button" value="Back">
        {% else %}
            <input type="submit" class="button" value="Check for availability">
        {% endif %}
</form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

  {% if batch_list %}
  <table>
    <tr>
      <th>Center Location</th>
      <th>Date</th>
      <th>Age Limit</th>
      <th>Capacity</th>
      <th>Vaccine</th>
    </tr>
    {% for batch in batch_list %}
    <tr>
      {% for key, value in batch.items %}
        {% if key == "name" %}
          <td>
          {% for x in value %}
            {{ x }} <br/>
          {% endfor %}
          </td>
        {% else %}
        <td> {{ value }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock content %}